@page "/upload-repair"
@inject HttpClient client  
@inject IMatToaster toaster

<MatToastContainer />
<EditForm Model="model" OnSubmit="UploadRepair">
	<DataAnnotationsValidator />

	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<h1 class="display-4">Create new repair</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6">
				<h1>Customer data</h1>
				<MatDivider />

				<div class="row">
					<div class="col-xl-6 py-3">
						<MatTextField Label="Name"
									  Outlined="true"
									  @bind-Value="model.CustomerName" />
					</div>

					<div class="col-xl-6 py-3 px-lg-4">
						<MatTextField Label="Address"
									  Outlined="true"
									  @bind-Value="model.CustomerAddress" />
					</div>
				</div>

				<div class="row">
					<div class="col-xl-6 pb-3">
						<MatTextField Label="Phone number"
									  Outlined="true"
									  @bind-Value="model.CustomerPhoneNumber" />
					</div>

					<div class="col-xl-6 pb-3">
						<MatCheckbox Label="Going to address"
									 @bind-Value="model.GoingToAddress" />
					</div>
				</div>

				<div class="row">
					<div class="col-xl-6 pb-3">
						<MatTextField Label="Defect by customer"
									  Outlined="true"
									  @bind-Value="model.DefectByCustomer" />
					</div>

					<div class="col-xl-6 pb-3 pl-4">
						<MatTextField Label="Add equipment"
									  Outlined="true"
									  @bind-Value="model.UnitEquipment" />
					</div>
				</div>

				<div class="col-xl-12">
					<MatTextField Label="Other information"
								  TextArea="true"
								  Outlined="true"
								  @bind-Value="model.AdditionalInformation" />
				</div>				
			</div>

			<div class="col-xl-6">
				<h1>Unit data</h1>
				<MatDivider />

				<div class="row">

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6">
				<MatButton Raised="true">Submit</MatButton>
			</div>
		</div>
	</div>
	<ValidationSummary />
</EditForm>

@code {
	AddRepairBindingModel model = new AddRepairBindingModel();

	async Task UploadRepair() {
		bool result = await client
			.PostAsJsonAsync(ApiUrlAddresses.AddRepairUrl, model)
			.ContinueWith<bool>(response => {
				HttpStatusCode responseStatusCode =
					response.Result.StatusCode;

				if (responseStatusCode == HttpStatusCode.BadRequest) {
					return false;
				}

				return true;
			});

		if(result) {
			toaster.Add("Repair uploaded successfully",
				MatToastType.Success);
		}
		else {
			toaster.Add("Repair upload failed",
				MatToastType.Danger);
		}
	}
}
