@page "/all-checkups/technicians-checkup"
@inject ICheckupService service

<div>
	<MatDatePicker Label="Begin date"
				   @bind-Value="begin" />

	<MatDatePicker Label="End date"
				   @bind-Value="end" />
</div>

<MatButton @onclick="GetData">Get data</MatButton>

<div>
	<MatButton>Export to Excel</MatButton>
</div>

<div>
	<MatTable Items="result">
		<MatTableHeader>
			<th>Technician name</th>
			<th>Labor</th>
			<th>Brand</th>
			<th>Model</th>
		</MatTableHeader>
		<MatTableRow>
			<td>@context.Name</td>
			<td>@context.Labor</td>
			<td>@context.Brand</td>
			<td>@context.Model</td>
		</MatTableRow>
	</MatTable>
</div>

@code {
	List<TechniciаnCheckupViewModel> result =
		new List<TechniciаnCheckupViewModel>();

	DateTime begin = DateTime.UtcNow;
	DateTime end = DateTime.UtcNow;

	async void GetData() {
		result = await Task.Run(() => {
			return service.TechnicianCheckup(
				"Value", begin, end);
		});

		StateHasChanged();
	}
}
